---
// components, layouts, etc.
import { Image } from "astro:assets";
import MainLayout from "../layouts/MainLayout.astro";
import Card from "../components/Card.astro";

// assets
import mac from "../assets/logos/mac.svg";
import cpp from "../assets/logos/cpp.svg";
import swift from "../assets/logos/swift.svg";
import python from "../assets/logos/python.svg";
import typescript from "../assets/logos/typescript.svg";
import css3 from "../assets/logos/css3.svg";
import html5 from "../assets/logos/html5.svg";
import tailwindcss from "../assets/logos/tailwindcss.svg";
import vscode from "../assets/logos/vscode.svg";
import xcode from "../assets/logos/xcode.svg";
import git from "../assets/logos/git.svg";
import github from "../assets/logos/github.svg";
---

<MainLayout>
  <div class="container mx-auto flex flex-col flex-wrap">
    <h1 class="font-serif text-8xl font-black leading-none">Nikolaus Walton</h1>
    <h2 class="pb-5 text-4xl font-thin">Software Engineering and Design</h2>
    <hr class="m-5" />

    <h3 class="text-center font-serif text-xl font-black md:text-2xl">About</h3>
    <p class="p-2 text-left font-normal md:text-xl">
      I am a junior software engineer and casual designer whenever I am able to.
      I graduated from Washington State University with a Bachelor of Science in
      Computer Sciene, and was also awarded the President's Award for Leadership
      for my contributions to the computer science commuinity at the university.
      I love to learn new things and I am constantly adding new tools to my
      digital toolbelt.
    </p>
    <p class="p-2 text-left font-normal md:text-xl">
      My main hobbies outside of programming work are music (production and DJ)
      and gaming. I like to work on all types of projects between web, mobile
      and desktop.
    </p>
    <p class="p-2 text-left font-normal md:text-xl">
      My projects are made without AI prompting unless stated in the README in
      the project.
    </p>
    <hr class="m-5" />
    <h3 class="text-center font-serif text-xl font-black md:text-2xl">
      The Things I Use Lately
    </h3>
    <div class="grid grid-cols-4 justify-items-center">
      <Image src={mac} loading="eager" alt="Logo For Apple Computers" />
      <Image
        src={cpp}
        loading="eager"
        alt="Logo for the C++ programming language"
      />
      <Image
        src={swift}
        loading="eager"
        alt="Logo for the Swift programming language"
      />
      <Image
        src={python}
        loading="eager"
        alt="Logo for the Python programming langauge"
      />
      <Image
        src={typescript}
        loading="eager"
        alt="Logo for the Typescript programming language"
      />
      <Image
        src={html5}
        loading="eager"
        alt="Logo for the HTML5 markup language"
      />
      <Image
        src={css3}
        loading="eager"
        alt="Logo for the CSS3 style sheet language"
      />
      <Image src={tailwindcss} loading="eager" alt="Logo for Tailwind CSS" />
      <Image
        src={vscode}
        loading="eager"
        alt="Logo for the VSCode text editior"
      />
      <Image src={xcode} loading="eager" alt="Logo for the XCode IDE" />
      <Image
        src={git}
        loading="eager"
        alt="Logo for the Git version control software"
      />
      <Image src={github} loading="eager" alt="Logo for the Github website" />
    </div>
    <hr />
    <h3 class="text-center font-serif text-xl font-black md:text-2xl">
      Featured
    </h3>
    <div class="grid grid-cols-4">
      <Card
        name="CrimsonCode 2020 Interview"
        description="Interview done by the student newspaper about the hackathon I directed the organization of."
        tags={["Article", "Hackathon"]}
        link="https://dailyevergreen.com/74588/news/hacking-away-at-the-competition/"
        linkDescription="Link to article"
      />
      <Card
        name="Yelp Clone"
        description="Final project for the introduction to databases class where my team and I built a full stack clone of Yelp using real data, and a database designed by us as a team."
        tags={["React", "Coursework"]}
        link="https://github.com/nikwalton/YelpClone"
        linkDescription="Link to Github"
      />
    </div>
  </div>
</MainLayout>
