---
export interface Props {
  name: string;
  description: string;
  tags: string[];
  link: string;
  linkDescription: string;
}

const { name, description, tags, link, linkDescription } = Astro.props as Props;
---

<div
  class="mb-5 mr-5 mt-4 max-w-sm overflow-hidden rounded bg-neutral-100 shadow-lg"
>
  <div class="px-6 py-4">
    <div class="mb-2 text-xl font-bold">{name}</div>
    <p class="mb-5">{description}</p>

    <a
      class="rounded-lg bg-emerald-700 text-white p-2 shadow-md transition ease-in-out hover:bg-emerald-100 hover:text-black"
      href={link}>{linkDescription}</a
    >

    <div class="mt-2 pb-1 pt-4">
      {
        tags.map((tag) => (
          <span class="mb-2 mr-2 inline-block rounded-full bg-white px-3 py-1 text-sm font-black">
            {tag}
          </span>
        ))
      }
    </div>
  </div>
</div>
